/* styles.css */

.centered-verse {
	
	font-family: 'Shrikhand', sans-serif;  /* Use Shrikhand font */
    font-size: 15px;  /* Adjust the font size */
    color: white;
    /* text-shadow: 1px 1px 1px gray; */
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    /* font-weight: bold; */
    position: absolute;
    text-align: center;
	transform: 0, -50%;
	vertical-align: middle;
    width: 60%;
	top: 70%;
	left: 20%;
  }

.imageContainer {
	position: relative;
	width: 90%;
}
.element-spacing {
    margin-top: 20px;
}

/* Add more styles as needed */
h1 {
	font-family: Lora;
	font-size: 50px;
	text-align: center;
	color:darkblue;
	margin: 0;
}

h2 {
	margin: 0;
	color: darkblue;
	font-family: Brush Script MT, Bold, sans-serif;
}

body {
	text-align: center;
}

input {
	width: 70%;
	margin:5px;
}


img {
	height: 400px;
	align-items: center;
  }

  .scripture-text {

	font-family: 'Shrikhand', sans-serif;  /* Use Shrikhand font */
    font-size: 40px;  /* Adjust the font size */
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 4px black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .container {
    display: flex;
    justify-content: space-between;
}

.input-container {
    width: 45%; /* Adjust as needed */
}

  .image {
	position: relative;
	display: inline-block;
	margin: 10px;
  }
  
  .delete-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
	/* display: none; */
  }